<h2><%= h @ci.course.name %> / <%=h @ci.name %></h2>
 
<h3>Harjoitusryhmät:</h3>
 
<% if @ci.exercise_groups.any? %>
  <ul>
    <% @ci.exercise_groups.each do |exercise_group| %>
      <li><%= link_to exercise_group.name, course_course_instance_exercise_group_path(@ci.course, @ci, exercise_group) %></li>
    <% end %>
  </ul>
 
<% else %>
  <p>Ei harjoitusryhmiä.</p>
<% end %>
 
<br/>
<%= link_to 'Takaisin', course_path(@ci.course) %>